.loading {
    display: flex;
    justify-content: start;
}

.loading {
    .loading-body {
        font-size: 25px;
        word-spacing: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

span {
    margin-right: 10px;
}
